.form-button > input{
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 12.5px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    transition: 3000ms all;

}

/* .form-button {
    width: 35%;
}  */
.hover > input:hover{
    cursor: pointer;
    color: black;
    background-color: grey;
}